.loader
{
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #21182bec;
    z-index: 999;
    position: absolute;
    padding: 100vmin;
    display: flex;
}

.loading-content
{
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 1vmin;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.loader:before
{
    align-self: center;
    content: "";
    width: 5vmin;
    height: 5vmin;
    border: 0.5vmin solid #f2afff;
    border-top: 0.5vmin solid transparent;
    border-radius: 50%;
    margin-left: calc(50% - 18vmin);
    animation: spin 1s ease infinite;
}

@keyframes spin
{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
